In [10]:
import os

# Function to get the file extension
def get_file_extension(file_name):
    _, file_extension = os.path.splitext(file_name)
    return file_extension

# Example file name
file_name = "example_document.xlsx"

# Get the file extension
extension = get_file_extension(file_name)

# Print the extension
print(f"The extension of the file '{file_name}' is: {extension}")

The extension of the file 'example_document.xlsx' is: .xlsx

In [12]:
import pandas as pd
file_path = 'test.xlsx'
# Read the Excel file (pandas handles the encoding internally)
def read_excel(file_path):
    df = pd.read_excel(file_path)
    return df
def read_file(file_path, extension):
    if extension == '.xlsx':
        df = read_excel(file_path)
    return df 
# Display the content (first few rows)
display(read_file(file_path,extension))

       Client     Address     Country     PhoneNumber      Bank      IdNumber
0    Client 1   Address 1   Country 1   Phone Number 1   Bank 1   Id Number 1
1    Client 2   Address 2   Country 2   Phone Number 2   Bank 2   Id Number 2
2    Client 3   Address 3   Country 3   Phone Number 3   Bank 3   Id Number 3
3    Client 4   Address 4   Country 4   Phone Number 4   Bank 4   Id Number 4
4    Client 5   Address 5   Country 5   Phone Number 5   Bank 5   Id Number 5
5    Client 6   Address 6   Country 6   Phone Number 6   Bank 6   Id Number 6
6    Client 7   Address 7   Country 7   Phone Number 7   Bank 7   Id Number 7
7    Client 8   Address 8   Country 8   Phone Number 8   Bank 8   Id Number 8
8    Client 9   Address 9   Country 9   Phone Number 9   Bank 9   Id Number 9
9   Client 10  Address 10  Country 10  Phone Number 10  Bank 10  Id Number 10
10  Client 11  Address 11  Country 11  Phone Number 11  Bank 11  Id Number 11